---




const links = [
	{
		url: '/',
		label: 'Home'
	},
	{
		url: '/projects',
		label: 'Projects'
	},
	{
		url: '/contact',
		label: 'Contact'
	},
	{
		url: '/about',
		label: 'About'
	}

]
---



		<header class="px-[4%] z-10 py-3 flex items-center sticky top-0 w-full bg-stone-900  ">
			<h2 class=" text-2xl md:text-4xl text-amber-200 font-semibold flex-1">Evergreen Estates</h2>
			<nav id="menu" class=" text-center justify-center flex-col text-3xl gap-5 bg-stone-900 h-screen w-full fixed z-10  inset-0  font-medium text-gray-300 hidden md:w-auto md:h-auto  md:gap-2  md:text-left md:relative  md:flex md:text-base  md:flex-row">

				{
					links.map(({label,url}) => <a href={url} class=" transition-colors px-5 py-1 hover:text-gray-100 hover:bg-stone-800 rounded ">
						{label}
					</a>)
				}

				<button id="close-menu-btn" class="top-3 right-3 absolute text-white mr-4   font-semibold md:hidden">
					x
				</button>
				
			</nav>
           
			<button id="menu-btn" class="text-white mr-4   font-semibold md:hidden">
					Menu
			</button>
            <ul class="w-6 sm:flex flex-col text-amber-200 gap-1 rotate-180 hidden">
                <li class="w-[40%] h-1 bg-current "></li>
                <li class="w-full  h-1 bg-current"></li>
                <li class="w-[70%]  h-1 bg-current"></li>
            </ul>
      
		</header>
	




<script>
	const btn = document.getElementById('menu-btn');

	const menu = document.getElementById('menu');

	const closeBtn = document.getElementById('close-menu-btn');

	const toggleMenu = () => {
		if(!menu) return
		menu.classList.toggle('hidden');
		menu.classList.toggle('flex');
	}

	btn?.addEventListener('click', toggleMenu)

	closeBtn?.addEventListener('click', toggleMenu)
</script>
